<h1>Store list</h1>

<%= link_to 'Add Store', new_store_path %><br /><br />

<table>
  <tr>
    <th>Name</th>
  </tr>

  <% @stores.each do |store| %>
    <tr>
      <td><%= store.name %></td>
      <td><%= link_to 'Show', store_path(store) %></td>
      <td><%= link_to 'Edit', edit_store_path(store) %></td>
    </tr>
  <% end %>
</table>
